/*
theme name: zigcy lite child
author: childthemewp.com
author uri: https://childthemewp.com/zigcy-lite/
description: zigcy lite wordpress child theme.
template: zigcy-lite
version: 1.0.0
text domain: zigcy-lite-child
*/

.attachment-post-thumbnail.size-post-thumbnail.wp-post-image{
    width: 100% !important;
    margin-bottom: 30px;
}

.gravatar.avatar.avatar-120.um-avatar.um-avatar-default{
    width: 38% !important;
}

.content-area{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.woocommerce-product-gallery__wrapper{
    padding-top: 30px !important;
}

.summary.entry-summary{
    padding-top: 30px !important;
}

.woocommerce-cart-form{
    padding-top: 30px !important;
}

.block.footer-widget-1{
    text-align: center !important;
    padding: 0px !important;
}

#menu-footer-menu{
    display: inline-flex !important;
}

.woocommerce.columns-3 .products.columns-3{
    width: 100% !important;
}


